body {
    background-color: #99ACCf;
	font-family: 'Urbanist', sans-serif;
}

.menu{
    padding: 0 50px;
    display: flex;
    height: 90px;
    align-items: center;
    margin: 30px 40px;
    background-color: #efb6d1; 
    border-radius: 50px;
}
.h4{
	font-size: 100px;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color:#7d8581;
    margin: 0 25px; 
   }
.btn{
    background-color: #7d8581;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin: 0 25px;
   }
.right{
    position: absolute;
    right: 80px;
   }
.skillname{
	font-size: 25px;
	width: 10%;
}
section{
    min-height: calc(100vh - 100px - 50px);
}
#hero{
    display: flex;
}
.white{
    color: #FFEAE3;
    font-size: 80px;
    text-align: center;
	margin-top: 30px;
}
h2{
    color: #FFEAE3;
    font-size: 35px;
}
#hero{
    display: flex;
   }
.toma{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
   }
.damira2{
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center; 
   }

.menushka{
    z-index: 1;
    position: absolute;
    width: 1px;
    height: 1px;
    top: 800px;
    left: 75%;
    box-shadow: 0px 0px 300px 300px #FFEAE3 ;
}
img{
    z-index: 2;
    width: 800px;
}

#aboutme{
    padding: 50px;
    color:#FFB1B1;
    background-color: #FFEAE3;
    position: relative;
    z-index: 3;
}
.pink{
    color: #c91616;
    font-size: 85px;
    text-align: center;
}
.hobby{
    text-align: center;
	align-items: baseline;
	margin-right: 80px;
    width: 300px;
}
.hobby1{
    text-align: center;
    width: 300px;
}
.promenyatext{
	color: #FFB1B1;
    font-size: 45px;
    text-align: center;
}
.pink2{
    color: #FFB1B1;
    font-size: 40px;
    text-align: center;
}
.coral{
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
}

#skills{
    padding: 50px;
    color:#FFEAE3;
    background-color: #FFB1B1;
    position: relative;
    z-index: 3;
    height: 100vh;
}
.stars{
    color: #7d8581;
}
.skills{
    margin-bottom: 30px;
    height: 250px;
}
.navyk{
    text-align: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}
.white2{
    font-size: 30px;
    text-align: center;
}

#projects {
    padding: 50px;
    color:#FFB1B1;
    background-color: #FFEAE3;
    position: relative;
    z-index: 3;
    height: 100vh;
}
.project{
    width: 800px;
	height: 400px;
}
.articles{
	height: 200px;
	text-align: center;
	
}


#blog {
    padding: 50px;
    color:#FFEAE3;
    background-color: #FFB1B1;
    position: relative;
    z-index: 3;
    height: 100vh;
}
#contact {
    padding: 50px;
    color:#FFB1B1;
    background-color: #FFEAE3;
    position: relative;
    z-index: 3;
    height: 100vh;
}
.card{
    width: 500px;
    background-color: #C5FF95;
    padding: 50px ;
    border-radius: 30px;
}
.w100{
    width: 100%;
}
.cardbtn{
    text-decoration: none;
    width: 500px;
    display: block;
    margin: 0 150px;
}
.dflex{
    display: flex;
}
.w80{
    width: 80%;
}
.chiutnizhe{
    margin-top: 450px;
}
.nodiv {

    margin-left: auto;
    margin-right: auto;
    width: 700px;
	
}
.divvv {
	font-size: 30px;
	align-items: center;
    display: flex;
	vertical-align: top;
    margin-left: auto;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.ball2 {
    width: 20px;
    height: 20px;
    border-radius: 78px;
    margin: 20px;
    margin-right: 10px;
    background-color: rgb(73, 61, 199);
}
.ball3 {
    width: 20px;
    height: 20px;
    margin: 20px;
    margin-right: 10px;
    opacity: 40%;
    border-radius: 78px;
    background-color: rgb(73, 61, 199);
}
.w272 {
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.fon{
		
		height: 700px;
		opacity: 90%;
		border-radius: 50%;
}
.menfoto {
	    top: 100px;
	background-image: url("fon.png");
		border-radius: 50%;
		width: 800px;
		height: 800px;
		position: relative;
}
.men {
	
position: relative;
left: 130px;
bottom: 200px;
height: 1000px;
}















 